.idea/
__pycache__/
.DS_Store
.snakemake
*.py[cod]
*$py.class
*.pdf
*.xlsx
.env
.venv
/out/
utils/RevBayes
/utils/simulator/cmake-build-debug/
/utils/simulator/build/
/utils/simulator/test/
/utils/simulator/trees/
results/
manuscript/
data_processed/
data_empirical/
data_simulated/
data_RevBayes/
data_BayesCode/
data/science.abn2937.phyloP/
data/GE_*
data/COMBINE/imputation*.csv
data/COMBINE/*_validation.csv
data/COMBINE/taxonomy_crosswalk.csv
data/COMBINE/trait_data_imputed.csv
data/COMBINE/trait_data_sources.csv