.idea/
__pycache__/
.DS_Store
.snakemake
*.py[cod]
*$py.class
*.pdf
.env
.venv
utils/
results/
manuscript/
RevBayes/
data_processed/
data_simulated/
data_RevBayes/
data_BayesCode/
/data/science.abn2937.phyloP/